.passHeader {
    text-align: center;
    padding: 10px;
}
.bodyBorder {
    height: auto;
    width: 100%;
    background-color: white;
    padding: 10px;
}
.allContent {
    padding: 100px 10px 100px 10px;
    height: 95%;
    width: 100%;
    align-content: center;
}

.btn-generate {
    color: white;
    background: red;
    border-radius: 12px;
    margin: 0 auto;
}

.btn-copy {
    color: white;
    background: grey;
    border-radius: 12px;
    margin: 0 auto;
}

textarea.form-control {
    border: 2px dashed #ced4da;
    text-align: center;
}